*{
     margin: 0;
     padding: 0;
}
body{
    background: #222;
    color: #fff;
    font-family: system-ui;
}
.CRUD{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.head{
     text-align:center;
     text-transform: uppercase;
     margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background: #000;
    transform: scale(1.1);
}
.price{
     width: 100%;
     display: flex;
     padding: 5px 2px;
     gap: 5px;
     flex-wrap: wrap;
}
.price input{
    flex: 1 1 120px;
}
#total{
    background: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content:'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #390053;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background: #51025f;
    letter-spacing: 2px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
}
.btnsearch button:hover{
    letter-spacing: 1px;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 2px;
}
#deleteAll{
     margin: 20px 0;
}

/*****Responsive*****/
@media screen and (max-width:1100px){
.head{
     text-align:center;
     text-transform: uppercase;
     margin: 10px 0;
     font-size: 20px;
}
th,td{
     padding: 1px;
     font-size: 15px;
}
}

@media (max-width:768px){

    .btnsearch{
        flex-direction: column;
        gap:10px;
    }

    .btnsearch button{
        width:100%;
    }

    input{
        font-size:16px;
    }

    button{
        font-size:14px;
    }
}

@media screen and (max-width:650px){
.head{
     text-align:center;
     text-transform: uppercase;
     margin: 10px 0;
     font-size: 10px;
}
button{
     font-size: 10px;
}
button:hover{
    background: #51025f;
    letter-spacing: 1px;
}
.btnsearch{
     flex-direction: column;
     gap:10px;
}
.btnsearch button{
     width:100%;
}
.outputs{
    overflow-x: auto;
}

table{
    min-width: 700px;
}
#delete,#update{
     font-size: 1px;
}
}

